<ion-content>
  <div class="flex-center mt-12">
    <ion-card style="box-shadow: none" class="!w-full p-0 bg-white">
      <div class="justify-center flex items-center">
        <img src="assets/images/setup/setup.png" class="h-40" alt="" />
      </div>
      <ion-card-header class="mt-16">
        <ion-card-title
          >Silahkan siapkan perizinan aplikasi dibawah ini</ion-card-title
        >
        <ion-card-subtitle>
          <div class="mt-2">
            <ion-label>
              Pilih <span class="text-primary">'Ya'</span> atau
              <span class="text-primary">'Izinkan sepanjang waktu'</span> di
              beberapa berikutnya langkah-langkah agar aplikasi ini dapat berjalan
              di latar belakang & membantu melacak orang.
            </ion-label>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-padding">
        <div class="flex justify-start mt-8">
          <img
            src="assets/images/setup/camera.png"
            class="w-6 h-6 flex-grow-0"
            alt=""
          />
          <ion-text class="ml-4 mt-1 !text-sm"> Izin kamera </ion-text>
        </div>
        <div class="flex justify-start mt-8">
          <img
            src="assets/images/setup/location.png"
            class="w-6 h-6 -mb-4 flex-grow-0"
            alt=""
          />
          <ion-text class="ml-4 mt-1 !text-sm"> Izin Lokasi </ion-text>
        </div>
        <div class="flex justify-start mt-8">
          <img
            src="assets/images/setup/file.png"
            class="w-6 h-6 -mb-4 flex-grow-0"
            alt=""
          />
          <ion-text class="ml-4 mt-1 !text-sm"> Izin Media dan File </ion-text>
        </div>
        <div class="mt-24">
          <ion-label>
            Android memerlukan Izin Lokasi agar Bluetooth dapat berfungsi. Kami
            tidak memiliki akses ke lokasi fisik Anda.
          </ion-label>
        </div>
        <div class="ion-text-center mt-4">
          <ion-button
            class="h-12 text-sm"
            color="primary"
            align-items="center"
            display="center"
            expand="block"
          >
            Mulai
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
