<ion-header class="ion-no-border ion-no-shadow">
  <ion-toolbar color="primary">
    <div class="flex justify-between items-center mx-2">
      <div>
        <ion-title class="!text-xl -ml-36"> Notification </ion-title>
      </div>
      <div>
        <ion-tab-button tab="home" class="text-[#ffff]">
          <ion-icon src="assets/icon/history/reload.svg"></ion-icon>
        </ion-tab-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="true">
  <div class="h-screen">
    <div class="w-full overflow-y-auto items-center">
      <div class="card-container mb-20">
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Apar Check</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle style="color: rgb(17, 224, 172)"
                    >Diterima</ion-card-subtitle
                  >
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Mei 14, 8:00 AM - 9:00 AM
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Apar Check</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle style="color: rgb(17, 224, 172)"
                    >Diterima</ion-card-subtitle
                  >
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Mei 14, 8:00 AM - 9:00 AM
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Apar Check</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle style="color: rgb(17, 224, 172)"
                    >Diterima</ion-card-subtitle
                  >
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Mei 14, 8:00 AM - 9:00 AM
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Card Title P</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Card Title P</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Card Title P</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <ion-card-header>
              <div class="flex justify-between items-center">
                <div>
                  <ion-card-title>Card Title P</ion-card-title>
                </div>
                <div>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
