<ion-header class="ion-no-border ion-no-shadow mt-4">
  <ion-toolbar>
    <ion-title class="text-center"> Buat Sandi Baru </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-center">
    <ion-card style="box-shadow: none" class="!w-full p-0 bg-white">
      <div class="justify-center flex items-center">
        <img src="assets/images/new-password/np.png" class="h-40" alt="" />
      </div>
      <ion-card-header class="mt-8 text-center">
        <ion-card-subtitle>
          <div>
            <ion-label>
              Kata Sandi Baru Anda Harus Berbeda dengan Kata Sandi yang
              Digunakan Sebelumnya.
            </ion-label>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-padding">
        <div class="mt-4">
          <ion-input
            type="email"
            label="Sandi Baru"
            label-placement="floating"
            fill="outline"
            color="primary"
            placeholder="Masukan Sandi Baru"
          >
          </ion-input>
        </div>
        <div class="mt-4">
          <ion-input
            type="email"
            label="Konfirmasi Sandi"
            label-placement="floating"
            fill="outline"
            color="primary"
            placeholder="Masukan Konfirmasi Sandi"
          >
          </ion-input>
        </div>
        <div class="ion-text-center mt-8">
          <ion-button
            class="h-12 text-sm"
            color="primary"
            align-items="center"
            display="center"
            expand="block"
          >
            Kirim
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
