<ion-header class="ion-no-border ion-no-shadow mt-4">
  <ion-toolbar>
    <ion-title class="text-center"> Atur Ulang Kata Sandi </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-center">
    <ion-card style="box-shadow: none" class="!w-full p-0 bg-white">
      <div class="justify-center flex items-center">
        <img
          src="assets/images/forgot-password/forgotp.png"
          class="h-40"
          alt=""
        />
      </div>
      <ion-card-header class="mt-8 text-center">
        <ion-card-subtitle>
          <div>
            <ion-label>
              Silakan Masukkan Alamat Email Anda Untuk Menerima Kode Verifikasi.
            </ion-label>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-padding">
        <div class="mt-4">
          <ion-input
            type="email"
            label="Email"
            label-placement="floating"
            fill="outline"
            color="primary"
            placeholder="Masukan Email Anda"
          >
          </ion-input>
        </div>
        <div class="ion-text-center mt-8">
          <ion-button
            class="h-12 text-sm"
            color="primary"
            align-items="center"
            display="center"
            expand="block"
          >
            Simpan
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
