<ion-content>
  <div>
    <img src="assets/images/login/bg.png" class="w-full h-60" alt="" />
  </div>
  <div class="flex-center -mt-40">
    <ion-card style="box-shadow: none" class="!w-full p-0 bg-white">
      <ion-card-header>
        <ion-card-title>Masuk Akun</ion-card-title>
        <ion-card-subtitle>
          Ayo beri dampak positif bagi lingkungan dan selamatkan makanan
          favoritmu
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-padding">
        <div class="mt-4">
          <ion-input
            type="number"
            label="No Hp"
            label-placement="floating"
            fill="outline"
            color="primary"
            placeholder="Masukan No Hp"
          >
          </ion-input>
        </div>
        <div class="mt-4">
          <ion-input
            type="password"
            label="Kata Sandi"
            label-placement="floating"
            fill="outline"
            color="primary"
            placeholder="Masukan Kata Sandi"
          >
          </ion-input>
        </div>
        <div class="ion-text-end mt-4">
          <ion-text color="info">Lupa Kata Sandi?</ion-text>
        </div>
        <div class="ion-text-center mt-6">
          <ion-button
            class="h-12 text-sm"
            color="primary"
            align-items="center"
            display="center"
            expand="block"
          >
            Masuk
          </ion-button>
        </div>
        <div class="relative flex items-center mt-8">
          <div class="w-full border-t-2 border-dotted border-gray-500"></div>
          <div
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white px-4"
          >
            <p class="text-gray-600">Atau</p>
          </div>
        </div>
        <ion-button
          fill="outline"
          align-items="center"
          display="center"
          class="h-12 mt-8 text-black normal-case"
          expand="block"
        >
          <img
            src="assets/images/login/google.png"
            class="mr-2 w-4 h-4"
            alt=""
          /><span class="text-gray-600">Masuk dengan Google</span>
        </ion-button>
        <ion-button
          fill="outline"
          align-items="center"
          display="center"
          class="h-12 mt-4 text-black normal-case button-1"
          expand="block"
        >
          <img
            src="assets/images/login/facebook.png"
            class="mr-2 w-5 h-5"
            alt=""
          />
          <!-- <ion-icon src="assets/images/login/logo-google.svg"></ion-icon> -->
          <span class="text-gray-600">Masuk dengan Facebook</span>
        </ion-button>
        <ion-button
          fill="outline"
          align-items="center"
          display="center"
          class="h-12 mt-4 text-black normal-case button-1"
          expand="block"
        >
          <img
            src="assets/images/login/apple.png"
            class="mr-2 w-6 h-6"
            alt=""
          />
          <span class="text-gray-600">Masuk dengan Apple</span>
        </ion-button>
        <div class="mt-4 text-center">
          <ion-text class="text-black normal-case"
            >Belum punya akun?
            <span class="text-blue-500">Buat Akun</span></ion-text
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
