<ion-content>
  <div class="bg-primary w-full h-60">
    <div class="p-8 flex justify-between items-center">
      <div>
        <p class="text-white text-xl">Hi, Dimas Pramatya</p>
        <p class="text-white text-sm">Today mon, 7 Sep 2023</p>
      </div>
      <div>
        <img
          src="assets/images/login/bg.png"
          class="rounded-full w-12 h-12 border-2 border-white"
          alt=""
        />
      </div>
    </div>
    <div class="items-center">
      <app-banner [slides]="slides"></app-banner>
      <div class="container">
        <div class="item">
          <img src="assets/images/home/grid/Digital_Damkar.png" alt="" />
          <div class="caption">Digital Damkar</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/HSE_Performance.png" alt="" />
          <div class="caption">HSE Performance</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Inventory_APD.png" alt="" />
          <div class="caption">Inventory APD</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Kesehatan_Pekerja.png" alt="" />
          <div class="caption">Kesehatan Pekerja</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Pelaku_K3.png" alt="" />
          <div class="caption">Pelaku K3</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Safety_Induction.png" alt="" />
          <div class="caption">Safety Induction</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Safety_Patrol.png" alt="" />
          <div class="caption">Safety Patrol</div>
        </div>
        <div class="item">
          <img src="assets/images/home/grid/Surat_Izin_Operator.png" alt="" />
          <div class="caption">Surat Izin Operator</div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-item">
          <ion-card class="card">
            <img class="p-2" src="assets/images/home/carousel/1.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <img class="p-2" src="assets/images/home/carousel/1.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card-item">
          <ion-card class="card">
            <img class="p-2" src="assets/images/home/carousel/1.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="whitespace-normal">
              Here's a small text description for the card content. Nothing
              more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
