<ion-content>
  <div class="bg-primary w-full h-60">
    <div class="p-8 flex justify-between items-center">
      <div>
        <p class="text-white text-xl">Hi, Dimas Pramatya</p>
        <p class="text-white text-sm">Today mon, 7 Sep 2023</p>
      </div>
      <div>
        <img
          src="assets/images/login/bg.png"
          class="rounded-full w-12 h-12 border-2 border-white"
          alt=""
        />
      </div>
    </div>
    <div class="items-center">
      <app-banner [slides]="slides"></app-banner>
      <!-- <swiper-container  class="w-full">
        <swiper-slide>
          <div>
            <img src="assets/images/login/bg.png" class="rounded-sm" alt="" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div>
            <img
              src="assets/images/forgot-password/forgotp.png"
              class="rounded-sm"
              alt=""
            />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div>
            <img src="assets/images/login/bg.png" class="rounded-sm" alt="" />
          </div>
        </swiper-slide>
        <div class="swiper-pagination"></div>
      </swiper-container> -->
    </div>
  </div>
</ion-content>
